/* Select Drop Down Styles */
.custom-select {
  position: relative;
  display: block;
  max-width: 275px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #004c00;
  background-color: #e9ffe9;
  z-index: 10;
}

.custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 14px;
  color: #004c00;
  transition:all .5s ease;
}

.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: "∨";
  text-align: center;
  color: #004c00;
  font-size: 24px;
  border-left: 1px solid #004c00;
  z-index: -1;
}

.custom-select select:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

/* Table (standings and event) */
.styled-table {
  border-collapse: collapse;
  margin: 1rem auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  transition: 250ms ease-in;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #e9ffe9;
  transition: 250ms ease-in;
}

.styled-table tbody tr:nth-of-type(even):hover,
.styled-table tbody tr:nth-of-type(odd):hover {
  background-color: #ddf6d1;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table td:nth-child(3) {
  text-align: center;
  vertical-align: middle;
}

.styled-table .text-input {
  max-width: 2rem;
}

.event-input {
  display: block;
  margin: 0 auto 1rem;
  padding: 5px;
  line-height: 1.25rem;
  width: 200px;
}

/* Button */

button {
  display: block;
  align-self:center;
  background:transparent;
  padding:1rem 1rem;
  margin:.5rem auto 0;
  color:#41403E;
  font-size: 0.8rem;
  letter-spacing:1px;
  outline:none;
  border-radius: 1px;
  border:solid 1px #41403E;
  transition:all .5s ease;
}

button:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}